body
{
	font-family: Monospace;
	font-weight: bold;
	background-color: #ccccff;
	margin: 0px;
	overflow: hidden;
}

#button {
	position: fixed;
	bottom: 20px;
	right: 20px;
	padding: 8px;
	color: #fff;
	background-color: #555;
	opacity: 0.7;
}

#button:hover {
	cursor: pointer;
	opacity: 1;
}
